body {
    width: 1280px;
    height: 720px;
    margin: auto;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
}

.details-aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    background: green;
    height: 400px;
}

.details-stacked-panel {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 1080px;
}

.details-placeholder {
    position: absolute;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 200ms;
}