body {
  overflow: hidden;
}

.container {
  position: absolute;
  top: 20px;
  left: 20px;
  overflow-x: hidden;
  width: 1140px;
  height: 300px;
}

.container-scroller {
  -webkit-transform: translateX(-190px);
}

.item {
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 10px;
}
