body {
  overflow: hidden;
}

.container {
  position: absolute;
  top: 20px;
  left: 20px;
  overflow-x: hidden;
  width: 1140px;
  height: 300px;
}

.item {
  position: absolute;
  padding-right: 10px;
}